@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager NavigationManager
@using Shared

<div class="page">

    @if (SessionManager.IsLoggedIn)
    {
        @if (SessionManager.UserType == "Paciente")
        {
            <div class="sidebar">
                <PacienteNavMenu />
            </div>
        }
        else if (SessionManager.UserType == "Profesional")
        {
            <div class="sidebar">
                <ProfesionalNavMenu />
            </div>
        }
    }

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    Ha ocurrido un error, recargue la página por favor.
    <a href="" class="reload">Recargar</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        var authProvider = (AuthStateProvider)AuthProvider;
        await authProvider.GetAuthenticationStateAsync();

        if (SessionManager.IsLoggedIn)
        {
            NavigationManager.NavigateTo(SessionManager.UserType == "Paciente" ? "paciente/home" : "profesional/home");
        }

        isLoading = false;
        StateHasChanged();
    }
}