@inherits LayoutComponentBase
@using Shared
@* @inject ProtectedLocalStorage localStorage *@

<div class="page">

    @if (SessionManager.IsLoggedIn)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@* @code {
    protected override async Task OnInitializedAsync()
    {
        var result = await localStorage.GetAsync<string>("jwtToken");
        if (result.Success && result.Value is not null && !SessionManager.IsLoggedIn)
        {
            SessionManager.SetSession(result.Value);
            StateHasChanged();
        }
    }
} *@
