@using Shared
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        @if (SessionManager.UserType == "Paciente")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="paciente" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="paciente/turnos">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Sacar un Turno
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="paciente/perfil">
                    <span class="bi bi-person-fill nav-icon" aria-hidden="true"></span> Perfil
                </NavLink>
            </div>
        }
        else if (SessionManager.UserType == "Profesional")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="profesional/home" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="profesional/turnos">
                    <span class="bi bi-clipboard2-pulse-fill" aria-hidden="true"></span> Turnos
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="profesional/especialidad">
                    <span class="bi bi-hospital-fill" aria-hidden="true"></span> Especialidades
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="profesional/obras-sociales">
                    <span class="bi bi-buildings-fill" aria-hidden="true"></span> Obras Sociales
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="profesional/reporte">
                    <span class="bi bi-bar-chart-fill nav-icon" aria-hidden="true"></span> Reporte Obras Sociales
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="profesional/perfil">
                    <span class="bi bi-person-fill nav-icon" aria-hidden="true"></span> Perfil
                </NavLink>
            </div>
        }

        <div class="nav-item px-3">
            <button class="nav-link" @onclick="Logout">
                <i class="bi bi-box-arrow-left nav-icon" aria-hidden="true"></i> Cerrar Sesión
            </button>
        </div>

    </nav>
</div>

@code {

    private void Logout()
    {
        SessionManager.ClearSession();
        NavigationManager.NavigateTo("/");
    }
}